// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

.row {
    justify-content: space-evenly;
}

// show all page rows
.row-cols-4 > * {
    width: 20%;
}

.product-list {
    border: 1px solid grey;
    margin: 5px;
    padding: 5px;
    display: grid;
    justify-items: center;
}
// all form
#product_form {
    padding-bottom: 10px;
}

// form field names
#sku {
    padding-left: 1px;
}
#name {
    padding-left: 1px;
}
#price {
    padding-left: 1px;
}
#productType {
    background-color: lightgray;
}


// Form attributes fields
#Height {
    color:red;
}
#Width {
    color:rgb(0, 26, 255);
}
#Length {
    color:rgb(0, 255, 55);
}
#Size {
    color:rgb(6, 45, 117);
}
#Weight {
    color:rgb(168, 166, 45);
}

// line under Product ADD
.line {
    border-bottom: 3px solid grey;
}

// just widths
.width20 {
    width:20%;
}
.width80 {
    width:80%;
}

// flex anywhere
.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.furnituros_atvaizdavimas {
    display: flex;
    flex-wrap: wrap;
flex-direction: column;
}