// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

.row {
    justify-content: space-evenly;
}

// show all page rows
// .row-cols-4 > * {
//     width: 20%;
// }

.product-list {
    border: 1px solid grey;
    margin: 5px;
    padding: 5px;
    display: grid;
    justify-items: center;
}
.checkbox-posititon {
    position: relative;
    top: 10px;
    left: 10px;
    justify-self: start;
    width: 15px;
    height: 15px;
    background-color: green;
    border: 2px solid lightblue;
}
// all form
#product_form {
    padding-bottom: 10px;
}

// form field names
#sku {
    padding-left: 1px;
}
#name {
    padding-left: 1px;
}
#price {
    padding-left: 1px;
}
#productType {
    background-color: lightgray;
}


// Form attributes fields
#Height {
    color:red;
}
#Width {
    color:rgb(0, 26, 255);
}
#Length {
    color:rgb(0, 255, 55);
}
#Size {
    color:rgb(6, 45, 117);
}
#Weight {
    color:rgb(168, 166, 45);
}

// line under Product ADD
.line {
    border-bottom: 3px solid grey;
}

// just widths
.width20 {
    width:20%;
}
.width80 {
    width:80%;
}

// flex anywhere
.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.furnituros_atvaizdavimas {
    display: flex;
    flex-wrap: wrap;
flex-direction: column;
}

.bg-lightblue {
    background-color: lightblue;
    padding: 2px;
    text-align: center;
    border-radius: 7px;
    font-size: x-small;
}

.att_values_box {
    padding: 3px;
    border: 2px solid lightblue;
    border-radius: 10px;
}

.margin10 {
    margin: 0 10px;
}

