// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';


.product-list {
    border: 1px solid grey;
    margin: 5px;
    padding: 5px;
    display: grid;
    justify-items: center;
}
.row {
    justify-content: space-evenly;
}
.row-cols-4 > * {
    width: 20%;
}
#Height {
    color:red;
}
.att_value_field:before {
    content:'.' attr(placeholder);
    margin-right:5px;
    color: green;
}

#product_list {
    padding-bottom: 10px;
}
#sku {
    width: 80%;
    float: right;
}


.line {
    border-bottom: 3px solid grey;
}

.width20 {
    width:20%;
}
.width80 {
    width:80%;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.furnituros_atvaizdavimas {
    display: flex;
    flex-wrap: wrap;
flex-direction: column;
}